@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;
    background-color: white;
}

.blog-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.blog-tag {
    position: relative;
    background-color: #fff;
    color: red;
    font-size: 0.8em;
    z-index: 1;
}

.blog-tag::before {
    content: 'OUR BLOG';
    display: block;
    color: rgba(160,160,160,0.3);
    font-size: 3em;
    z-index: 0;
}

.blog-tag::after {
    content: '';
    display: inline-block;
    background-color: #ff0000;
    width: 30px;
    height: 2px;
    margin: 0 0 3px 7px;
}

.blog-header h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.blog-card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    border: 1px solid rgb(231, 231, 231);
}

.blog-image {
    position: relative;
    width: 400px;
}

.blog-image img {
    width: 100%;
    height: auto;
}

.category {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

.blog-content {
    padding: 20px;
    text-align: left;
}

i {
    color: #ff0000;
}

.author {
    color: #777;
    font-size: 14px;
}

.date {
    margin-left: 10px;
}

.blog-title {
    font-size: 1.3em;
    margin: 10px 0;
}

.blog-description {
    font-size: 16px;
    color: #555;
}

.read-more {
    display: inline-block;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }
    
    .blog-card {
      width: 45%;
      height: auto;
    }

    .blog-image {
        width: auto;
    }
  }
  
  @media (max-width: 768px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }
    
    .blog-card {
      width: 100%;
      height: auto;
    }

    .blog-image {
        width: auto;
    }
  }
  
