body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.image-container {
  flex: 1;
  background: url("../images/skyscraper.jpg") no-repeat center center/cover;
  height: 600px;
  border-radius: 20px;
  position: relative;
}

.content-container {
  flex: 1;
  padding-left: 50px;
}

.content-container h2 {
  color: #ff4d4d;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.content-container h1 {
  color: #333;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.content-container p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.highlight-box {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 150px;
  padding: 0 20px;
  left: 36%;
  top: 40%;
}

.highlight-box h1 {
  text-align: center;
  font-size: 4em;
  color: #e72f2f;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
}

.highlight-box p {
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  font-size: 1.1em;
  color: rgb(102, 102, 102);
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  display: flex;
  align-items: center;
}

.features li .icon-container {
  position: relative;
  font-size: 2em;
  color: #e72f2f;
  background-color: #ffe4e4;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-color: #ffafaf;
  z-index: 0;
}

.top-right-number {
  position: absolute;
  width: 15px;
  height: 15px;
  padding: 1px;
  color: white;
  background-color: black;
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features li h5 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0px;
}

.features li p {
  display: block;
  font-size: 1em;
  color: #666;
}

.read-more {
  display: inline-block;
  background-color: #e72f2f;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .image-container {
    height: 300px;
    border-radius: 15px;
    width: 100%;
  }

  .content-container {
    padding-left: 0;
    text-align: center;
  }

  .content-container h1 {
    font-size: 2.5em;
  }

  .highlight-box {
    display: none;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .highlight-box h1 {
    font-size: 3em;
  }

  .features {
    margin-top: 20px;
  }

  .features li {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .features li .icon-container {
    margin-bottom: 10px;
  }

  .features li h5 {
    font-size: 1.2em;
  }

  .features li p {
    font-size: 0.9em;
  }

  .read-more {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}

/* For Mobile Devices */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .image-container {
    height: 300px;
  }

  .content-container h1 {
    font-size: 1.8em;
  }

  .highlight-box {
    display: none;
    width: 100px;
  }

  .highlight-box h1 {
    font-size: 2.5em;
  }

  .features li {
    margin-bottom: 15px;
  }

  .features li .icon-container {
    width: 3rem;
    height: 3rem;
  }

  .features li h5 {
    font-size: 1em;
  }

  .features li p {
    font-size: 0.8em;
  }

  .read-more {
    padding: 8px 15px;
    font-size: 0.8em;
  }
}
