body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.contact-details {
    position: relative;
    background-image: url('../images/1.jpg');
    background-size: cover;
    color: white;
    width: 100%;
    border-radius: 15px;
    padding: 30px 30px 80px 30px;
    margin: 10px;
    z-index: 0;
}

.contact-form {
    position: absolute;
    max-width: 300px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 50px 30px 30px;
    margin: 10px;
    left: 100px;
    top: 80px;
    z-index: 1;
}

.content {
    margin-left: 50%;
    max-width: 500px;
}

.contact-form h2 {
    color: black;
    margin-bottom: 10px;
}

.contact-form p {
    color: #818181;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.contact-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.contact-form button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-details h3 {
    color: #ff0000;
    font-size: 0.9em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.contact-details h1 {
    margin-bottom: 20px;
}

.contact-details p {
    color: #d3d3d3;
    margin-bottom: 40px;
}

.details-box {
    display: flex;
    gap: 30px;
}

.detail {
    align-items: center;
}

.detail-number {
    font-size: 1em;
    font-weight: bold;
    background-color: #ff0000;
    color: white;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-text h4 {
    margin-bottom: 10px;
}

.detail-text p {
    width: 70%;
    margin: 0;
}




@media (max-width: 768px) {
    .contact-form {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        margin: 10px 0;
    }
    
    .content {
        margin: 0;
        padding: 10px;
    }
    
    .details-box {
        flex-direction: column;
    }
    
    .detail {
        max-width: 100%;
    }
}

/* For Mobile Devices */
@media (max-width: 480px) {
    .contact-form {
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-top: 3rem;
        padding: 20px;
    }

    .contact-form h2 {
        font-size: 1.5em;
    }

    .contact-form p {
        font-size: 0.7em;
    }

    .contact-form input, .contact-form textarea {
        padding: 8px;
    }

    .contact-form button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
    
    .contact-details h1 {
        font-size: 1.5em;
    }

    .contact-details p {
        font-size: 0.9em;
    }
}
