body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.heading {
    color: #007BFF;
    margin-bottom: 10px;
}

.subheading {
    margin-bottom: 50px;
    position: relative;
}

.subheading::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #007BFF;
    position: absolute;
    left: 48%;
    margin-top: 15px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.member {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 25%;
}

.member img {
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

.plus-button {
    position: absolute;
    bottom: 85px;
    right: 30px;
    background-color: white;
    color: #007BFF;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.member h3 {
    margin: 15px 0 5px;
    font-size: 1.5em;
}

.member p {
    color: #007BFF;
}



@media (max-width: 768px) {
    .member {
        width: 45%;
    }
    
    .plus-button {
        bottom: 75px;
        right: 20px;
    }
}

/* For Mobile Devices */
@media (max-width: 480px) {
    .member {
        width: 80%;
    }
    
    .plus-button {
        bottom: 75px; 
        right: 20px;
    }

    .member h3 {
        font-size: 1.2em; 
    }

    .member p {
        font-size: 1em; 
    }
}
